.layout-node-form {
  position: relative;
}

.layout-region-node-main {
  width: 100%;
}

.layout-region-node-secondary {
  width: auto;
  float: none;
  position: absolute;
  top: 0;
  right: 25px;
  text-align: right;
}

.layout-region-node-secondary::before {
  content: 'Metadata';
  padding: 1em 1em 1em 3em;
  background-image: url('../images/cog.svg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: #f7f7f7;
}

.layout-region-node-secondary .entity-meta {
  display: none;
  text-align: left;
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.2);
}

.layout-region-node-secondary:hover .entity-meta,
.layout-region-node-secondary:focus .entity-meta,
.layout-region-node-secondary:active .entity-meta {
  display: block;
  margin-top: 11px;
}

.ief-entity-table {
  margin-bottom: 50px;
}

.field--widget-bricks-tree-inline > div > fieldset {
  padding-bottom: 50px;
}

.ief-entity-table thead tr {
  display: none;
}

.ief-entity-table tbody .layout .ief-tabledrag-handle {
  min-width: 100px;
}

.ief-entity-table tbody .layout{
  border-bottom: 20px solid #fcfcfa;
}

.ief-entity-table tbody .layout td,
.ief-entity-table tbody .layout.kalagraphs-region-end td {
  background-color: #f5f5f2;
  padding-top: 20px;
  padding-bottom: 20px;

}

.ief-entity-table tbody .layout .ief-tabledrag-handle > a,
.ief-entity-table tbody .layout .form-item-field-bricks-entities-0-options-css-class,
.ief-entity-table tbody .layout .ief-entity-operations,
.js-indentation:first-child {
  display: none;
}

.kalagraphs-component .inline-entity-form-paragraph-label {
  display: none;
}

@media(min-width: 768px) {
  .kalagraphs-component .inline-entity-form-paragraph-label {
    display: block;
  }
}

.ief-entity-table tbody .layout .inline-entity-form-paragraph-label div,
.ief-entity-table tbody .layout .inline-entity-form-paragraph-label h3 {
  display: inline-block;
}

.ief-entity-table tbody .layout .inline-entity-form-paragraph-label h3 {
  margin-right: 20px;
}

.ief-entity-table tbody .kalagraphs-region-end td {
  padding-bottom: 50px;
}

.ief-entity-table tbody .kalagraphs-region td {
  background-color: #f5f5f2;
}

.ief-entity-table tbody .kalagraphs-region .ief-entity-operations {
  display: none;
}

.inline-entity-form-paragraph-label strong {
  font-size: 20px;
  margin-right: 20px;
  display: inline-block;
}

.inline-entity-form-paragraph-label strong + div {
  display: inline-block;
}

/* Just the operations column -- TODO add a class for this. */
.ief-entity-table .ief-row-entity td:not([class]) {
  width: 10em;
}

.ief-entity-operations .button,
.ief-entity-operations .button:hover {
  width: 100%;
  margin: 0 0 10px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

.ief-entity-operations .button:nth-child(1),
.ief-entity-operations .button:nth-child(1):hover {
  background-image: url('../images/cog.svg');
}

.ief-entity-operations .button:nth-child(2),
.ief-entity-operations .button:nth-child(2):hover {
  background-image: url('../images/trash.svg');
  background-position: 10px 5px;
}

.inline-entity-form-paragraph-type {
  min-width: 8em;
}
